version: 2.1

references:
  restore-docs-dependencies-cache: &restore-docs-dependencies-cache
    restore_cache:
      keys:
        - deps-docs-5-py<< parameters.version >>-{{ checksum "uv.lock" }}
  install-docs-dependencies: &install-docs-dependencies
    run:
      name: Install Dependencies
      command: |
        uv sync --group docs
  save-docs-dependencies-cache: &save-docs-dependencies-cache
    save_cache:
      key: deps-docs-5-py<< parameters.version >>-{{ checksum "uv.lock" }}
      paths:
        - .venv
  restore-dependencies-cache: &restore-dependencies-cache
    restore_cache:
      keys:
        - deps-5-py<< parameters.version >>-{{ checksum "uv.lock" }}
  install-dependencies: &install-dependencies
    run:
      name: Install Dependencies
      command: |
        uv sync
  save-dependencies-cache: &save-dependencies-cache
    save_cache:
      key: deps-5-py<< parameters.version >>-{{ checksum "uv.lock" }}
      paths:
        - .venv
  parametrised-python-executor: &parametrised-python-executor
    parameters:
      version:
        type: string
    executor:
      name: python
      version: << parameters.version >>
  python-full-version-matrix: &python-full-version-matrix
    matrix:
      parameters:
        version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
  python-top-and-bottom-version-matrix: &python-top-and-bottom-version-matrix
    matrix:
      parameters:
        version: ["3.10", "3.14"]
  filter-tags: &filter-tags
    filters:
      branches:
        ignore: /.*/
      tags:
        only: /^v.*/


executors:
  python:
    parameters:
      version:
        type: string
    docker:
      - image: cimg/python:<< parameters.version >>


jobs:
  docs:
    <<: *parametrised-python-executor

    steps:
      - checkout

      - *restore-docs-dependencies-cache
      - *install-docs-dependencies
      - *save-docs-dependencies-cache

      - run:
          name: Build the docs
          command: |
            uv run ./script/docs/build.sh

  lint:
    <<: *parametrised-python-executor

    steps:
      - checkout

      - *restore-dependencies-cache
      - *install-dependencies
      - *save-dependencies-cache

      - run:
          name: Run Flake8
          command: |
            uv run ./script/linting/lint

  test:
    <<: *parametrised-python-executor

    steps:
      - checkout

      - run:
          name: Checkout submodules
          command: |
            git submodule update --init --recursive

      - *restore-dependencies-cache
      - *install-dependencies
      - *save-dependencies-cache

      - run:
          name: Run Tests
          command: |
            uv run ./script/testing/test

  test-min-deps:
    <<: *parametrised-python-executor

    steps:
      - checkout

      - run:
          name: Checkout submodules
          command: |
            git submodule update --init --recursive

      - restore_cache:
          keys:
            - deps-min-5-py<< parameters.version >>-{{ checksum "pyproject.toml" }}
      - run:
          name: Install Dependencies
          command: |
            set -x
            uv sync --resolution lowest-direct --no-default-groups
            uv pip list
      - save_cache:
          key: deps-min-5-py<< parameters.version >>-{{ checksum "pyproject.toml" }}
          paths:
            - .venv

      - run:
          name: Run Tests
          command: |
            uv run ./script/testing/test

  typecheck:
    <<: *parametrised-python-executor

    steps:
      - checkout

      - *restore-dependencies-cache
      - *install-dependencies
      - *save-dependencies-cache

      - run:
          name: Run Mypy
          command: |
            uv run ./script/typing/check

  build:
    <<: *parametrised-python-executor

    steps:
      - checkout

      - *restore-dependencies-cache
      - *install-dependencies
      - *save-dependencies-cache

      - run:
          name: Build only
          command: |
            uv run ./script/release/build.sh

  release:
    docker:
      - image: cimg/python:3.11
    steps:
      - checkout

      - *install-dependencies

      - run:
          name: Push to PyPI
          command: |
            export UV_PUBLISH_USERNAME=__token__
            export UV_PUBLISH_PASSWORD=$PYPI_TOKEN
            uv run ./script/release/release


workflows:
  version: 2.1

  validate:
    jobs:
      - build:
          <<: *python-full-version-matrix
      - docs:
          <<: *python-top-and-bottom-version-matrix
      - lint:
          <<: *python-top-and-bottom-version-matrix
      - test:
          <<: *python-full-version-matrix
      - test-min-deps:
          <<: *python-full-version-matrix
      - typecheck:
          <<: *python-top-and-bottom-version-matrix

  release:
    jobs:
      - build:
          <<: *python-full-version-matrix
          <<: *filter-tags
      - docs:
          <<: *python-top-and-bottom-version-matrix
          <<: *filter-tags
      - lint:
          <<: *python-top-and-bottom-version-matrix
          <<: *filter-tags
      - test:
          <<: *python-full-version-matrix
          <<: *filter-tags
      - test-min-deps:
          <<: *python-full-version-matrix
          <<: *filter-tags
      - typecheck:
          <<: *python-top-and-bottom-version-matrix
          <<: *filter-tags
      - release:
          <<: *filter-tags
          requires:
            - build
            - docs
            - lint
            - test
            - test-min-deps
            - typecheck
